*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f3e3e4;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.name img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.name p{
    color: #f78981;
    font-size: 24px;
}


.name input{
    margin: 10px;
    color: red;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}

form{
    display: flex;
    
}


button {
    margin-top: 70px;
    position: absolute;
    padding: 10px 10px;
    background-color: rgba(253, 24, 83, 255);
    color: #f78981;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    outline: none;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

button::before, button::after {
    content: '❤';
    position: absolute;
    color: #ff002f;
    font-size: 24px;
    opacity: 0;
    transition: all 0.5s ease;
}

/* Hearts animation positions */
button::before {
    top: 0;
    left: 10%;
    transform: translateY(-100%);
}

button::after {
    bottom: 0;
    right: 10%;
    transform: translateY(100%);
}

/* On hover */
button:hover::before,
button:hover::after {
    opacity: 1;
    transform: translateY(0);
}

button:hover {
    background: linear-gradient(to left, #ee9ca7, #ffdde1);
    color: rgba(253, 24, 83, 255);
}


button:hover {
    background: linear-gradient(to left, #ee9ca7, #ffdde1);
    color: rgba(253, 24, 83, 255);
}

 button {
    align-items: center;
    background-color: rgba(253, 24, 83, 255);
    color: white;
    font-size: 28px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

button:hover {
    background: linear-gradient(to left, #ee9ca7, #ffdde1);
    color: rgba(253, 24, 83, 255);
}

